body{
    background-color:peachpuff;
    text-align: center;
}

h3{
    color:royalblue;
    font-size: 25px;
    text-align:center

}



h2{
    color:royalblue;
    font-size:35px;
    text-align: center;
}
p{
    color:black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.excitedText{
    color: royalblue;
    text-decoration: underline;
    text-align: center;
}
